/* Set Mermaid Diagrams to 100% width of screen by default */
.mermaid svg {
    display: block;
    width: 100%;
    height: auto; /* Ensures aspect ratio is preserved */
    margin: 0;
    padding: 0;
}

/* On hover, allow horizontal scrolling for full-width viewing */
div:has(> .mermaid):hover {
    width: auto !important;
}

.mermaid:hover {
    overflow: scroll;
    padding: 0;
    margin: 0;
    text-align: left;
}

.mermaid:hover svg {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
}

